@import "tailwindcss";

.mainDiv {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}

.boxes {
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
}

.boxes:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
